<%= link_to "Back", root_path, :class => 'button' %>

<article>
  <h1>Darn, the Cooper-Hewitt doesn't have any <span><%= @type_of_thing.name.pluralize %></span></h1>

  <p class="intro call-to-action">Why not bug their curators to go acquire some?</p>
</article>