

h1 { text-align: center;}

article {max-width: 60em; margin: 0 auto;}

.intro { font-size: 1.4em;}

.call-to-action { text-align: center; }

input { font-size: 1em;}

div form,
div form input {display: inline;}

h1 span { color: red; }

.things .thing { width: 33%; }

.thing { float: left;}

.thing img { width: 90%; margin: 0 auto; display: block;}

.thing {text-align: center; }

.thing a { color: #666; text-decoration: none; }

.other-things .thing {width: 20%; }

.other-things .thing:nth-child(5n + 1) {clear: left; }

h2 { clear: both;  text-align: center; }

.button { text-decoration: none; background-color: yellow; padding: .5em;}