
<article>
  <h1>Thanks! Your vote helps us improve the data.</h1>

  <p class="intro call-to-action"><%= link_to "Return to #{@type_of_thing.name.pluralize}", type_of_thing_path(@type_of_thing.name.pluralize.downcase) %></p>
</article>